@import url('https://fonts.googleapis.com/css?family=Rubik');

/* ALLGEMEINES */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 10pt;
    line-height: 1.6;
}

.hidden {
    display: none;
}

@media (min-width: 40em) {
    html {
        /* http://bg.siteorigin.com/ */
        background-color: #669ac4;
        background-image: url(img/background.png);

        font-size: 11pt;
    }

    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 40em;
        margin: 0 auto;
        padding: 1em;

        border: 1px solid #202020;
        box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
    }
}

/* NAVIGATION */
nav {
    user-select: none;
    position: sticky;
    top: 0;

    background-color: #404040;
    color: white;

    border: 0px solid #202020;
    border-bottom-width: 3px;
}

nav a,
nav a:visited,
nav a:hover {
    color: white;
    text-decoration: none;

    display: block;
    padding: 1em;
}

nav.non-interactive a:hover {
    cursor: default;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: -3px;

    display: flex;
}

nav li.active {
    background-color: #333333;
    border: 0px solid rgb(33, 146, 187);
    border-bottom-width: 3px;
}

nav li:hover {
    background-color: #505050;

    border: 0px solid rgb(103, 197, 231);
    border-bottom-width: 3px;
}

/* INHALT */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;

    margin-top: 1em;
}

.card {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    flex-basis: calc(33.33% - 2em);
}

@media (max-width: 767px) {
    .card {
        flex-basis: calc(50% - 2em);
    }
}
